node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
/playwright/.auth/
**.code-workspace
package-lock.json
composer.lock
tasks.md
/vendor/
!/vendor/wptt-webfont-loader/
!/inc/vendor/
.phpunit.result.cache
.temporary.json
.cursor/